body{background: #333;overflow: scroll;height:100%;}
  #pList{padding:0px;}
  .pItem{
    margin-bottom:10px;overflow:hidden;position:relative;min-height:50px;
  }
  .pLabel{position:absolute;bottom:0px;height:20px;background: rgba(0,0,0,0.5);width:calc(100% - 30px);color:White;font-size:13px;line-height:20px;padding-left:10px;}
  .pTools{position: absolute;top:0px;font-size: 16px;width:calc(100% - 30px);background: rgba(0,0,0,0.5);}
  .pTools span{float:right;margin:5px;color:rgba(255,255,255,0.5);}
  .pTools span:hover{float:right;margin:5px;color:rgba(255,255,255,1);}
  .pItem img{width:100%;}
  #loading{display: none;color:White; text-align: center;}
  .newAdded{display: none;}